<div class="header pl-4 shadow-3">
  <h2 class="">Lançamento de Pedidos</h2>
</div>

<div class="card">
  <p-toast></p-toast>
</div>

<div class="formgrid grid pl-3 p-3">
  <div class="field col-12 md:col-6">
      <label for="clientId">ID do Cliente</label>
      <input required="" id="clientId" type="number" [(ngModel)]="order.clientId" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
  <div class="field col-12">
      <h2>Itens do Pedido</h2>
  </div>
  <div *ngFor="let item of order.items; let i = index" class="field grid col-12">
      <div class="field col-12 md:col-5">
          <label for="productId-{{i}}">ID do Produto</label>
          <input required="" id="productId-{{i}}" type="number" [(ngModel)]="item.productId" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col-12 md:col-5">
          <label for="quantity-{{i}}">Quantidade</label>
          <input required="" id="quantity-{{i}}" type="number" [(ngModel)]="item.quantity" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col-12 md:col-2 flex align-items-end">
          <p-button label="Remover" class="p-button-danger" (click)="removeItem(i)"></p-button>
      </div>
  </div>
  <div class="field col-12">
      <p-button label="Adicionar Item" (click)="addItem()"></p-button>
  </div>
  <div class="field col-12">
      <p-button label="Cadastrar Pedido" (click)="createOrder()"></p-button>
  </div>
</div>
