<div class="header pl-4 shadow-3">
  <h2 class="">Listagem de Fornecedores</h2>
</div>

<p-toast></p-toast>
<p-table [value]="suppliers" dataKey="id" editMode="row" [tableStyle]="{'min-width': '70rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:10%">ID</th>
            <th style="width:15%">Nome</th>
            <th style="width:15%">Contato</th>
            <th style="width:25%">Endereço</th>
            <th style="width:15%">CNPJ</th>
            <th style="width:10%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-supplier let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="supplier">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="supplier.id" disabled>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{supplier.id}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="supplier.name" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{supplier.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="supplier.contact" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{supplier.contact}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="supplier.address" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{supplier.address}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="supplier.cnpj" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{supplier.cnpj}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(supplier)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(supplier)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(supplier, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
